<div data-name="bMap" class="map"></div>

<div class="header">
    <a href="http://2gis.ru/" class="header__logo"></a>
    <h1 class="header__title">Из чего построен город</h1>
</div>

<div class="controlPanel">
    <a data-name="tfCity" href="#selectCity" class="controlPanel__city">
        <span class="controlPanel__cityLogo"></span>
        <span class="controlPanel__cityName"></span>
    </a>

    <div class="controlPanel__mainContent">
        <div data-name="bMaterials" class="controlPanel__materials"></div>
        <ul data-name="bCityList" class="controlPanel__cityList"></ul>
    </div>

    <a data-name="btnReadMore" class="controlPanel_readMore" href="#readMore">Подробнее</a>
</div>

<div class="footer">
    <div class="footer__yaShare yashare-auto-init" data-yashareL10n="ru" data-yashareType="none"
            data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,lj,gplus,surfingbird"></div>
</div>
