
body {
	color: hsl(0, 0%, 20%);
	font-size: 15px;
	font-family: Verdana;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	line-height: 1;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-weight: 600; font-size: 1.1em; }
h6 { margin-bottom: 0.5em; font-weight: 600; }

p {
	margin-bottom: 1.5em;
}

a {
	color: hsl(220, 100%, 40%);
	text-decoration: underline;
}

em,
dfn {
	font-style: italic;
}

strong,
dfn {
	font-weight: bold;
}

abbr {
	border-bottom: dashed 1px hsl(0, 0%, 40%);
}

address {
	margin-bottom: 1.5em;
	font-style: italic;
}

blockquote {
	margin: 1.5em;
	color: hsl(0, 0%, 40%);
	font-style: italic;
}

code,
pre {
	font-family: 'Courier New', Courier, monospace;
}

pre {
	margin: 1.5em 0;
	white-space: pre;
}

sub,
sup {
	line-height: 0;
}

hr {
	height: 0;
	margin: 0.5em 0 1em;
	border: dashed hsl(0, 0%, 65%);
	border-width: 1px 0 0;
	clear: both;
}

ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }
li ul, li ol { margin: 0; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

dl { margin-bottom: 1.5em; }
dt { font-weight: bold; }
dd { margin: 0 0 1em 1.5em; }

tfoot { font-style: italic; }
th { font-weight: bold; }
